.sidebar-container {
  width: 330px;
  height: 100vh;
  background-color: #0a0d11;
  color: #b2b3b6;
  padding-bottom: 24px;
  overflow-y: auto;
  .iconfont {
    color: #7d7e81;
  }

  .weather-info {
    padding: 24px 36px;

    .flex-box {
      display: flex;
      align-items: center;
      .item {
        width: 50%;
        .city {
          text-align: center;
          font-size: 18px;
        }
        .temperature {
          text-align: center;
          font-size: 48px;
        }
        .time {
          font-size: 14px;
        }
      }
      img {
        width: 100%;
      }
    }
    .list {
      margin-top: 24px;
      line-height: 1.6;
      .value {
        margin-left: 50px;
      }
    }
  }
}

.collapse-box {
  background-color: #151e27;
  margin: 0 16px;
  border: 1px solid #3e454a;
  color: #afb4b9;
  .collapse-box-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3e454a;
    line-height: 2;
    padding: 0 12px;
    .iconfont.icon-arrow-down {
      cursor: pointer;
      transition: all 0.3s;
    }
  }

  .collapse-content {
    transition: all 0.8s;
    display: block;
  }

  &.close {
    .collapse-box-header {
      border-bottom: 0;
    }
    .iconfont.icon-arrow-down {
      transform: rotate(-90deg);
    }
    .collapse-content {
      height: 0;
      display: none;
    }
  }
}

@colorGray: #5f656d;
.delayed-routes {
  .item {
    padding: 4px 12px;
  }
  & > .item + .item {
    border-top: 1px solid #3e454a;
    // margin: 4px;
  }
  .dot {
    width: 10px;
    height: 10px;

    border-radius: 50%;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 8px;
    &.danger {
      background-color: red;
    }
    &.warning {
      background-color: orange;
    }
  }
  .iconfont {
    color: @colorGray;
    position: relative;
    left: -2px;
    margin-right: 2px;
  }
  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .distance {
    color: @colorGray;
    font-size: 14px;
  }

  .left {
    flex: 1;
  }
  .toList {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: @colorGray;
  }
  .time {
    color: #dbdcde;
    font-size: 20px;
  }
}

.ramp-chart {
  margin-top: 24px;
  .ring {
    height: 200px;
  }
  .desc {
    padding: 0 12px;
    margin-bottom: 15px;
  }
}
